
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Advising Plus</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
	<body>
	<!-- This is the navigation bar -->
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Advising Plus</a>
				</div>
				<ul class="nav navbar-nav">
          <li><a href="{% url 'advisingplus:index'%} ">Home</a></li>
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sessions<span class="caret"></span></a>
						<ul class="dropdown-menu">
              <li><a class="active" href="{% url 'advisingplus:register' %}">Add New User</a></li>
              <li><a href="{% url 'advisingplus:session-add' %} ">Create Session</a></li>
							<li><a href="#">Cancel Session</a></li>
						</ul>
					</li>
					<li><a href="#">FAQ</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span>
              Receptionist: {{request.user.username}} </a></li>
                    #request.user.username
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>  Sign Out</a></li>
				</ul>
			</div>
		</nav>

    {% block body %}
    {% endblock %}

  </body> 
</html>
