{% extends 'advisingplus/base.html' %}

{% block body %}
   <!-- Body here-->
  {% if object_list %}
 
     </-- each pannel-->
     {% for session in object_list  %}

 
 
        <div class="col-sm-8 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">

<h6> Students name: {{ session.student }}</h6>
<h6>Advisor: {{ session.timeslot.advisor}}  </h6>
<h6>Time and Date: {{ session.timeslot.date_time}}  </h6>

     </-- /session.id -->
    <a href="{% url 'advisingplus:view_Session' session.id %} ">view this
      session</a>

                </div>
                </div>
                </div>
     {% endfor %}
 
 
 
 
  {% else %}
      <h3> no session in system </h3> 
     {% endif %}

{% endblock %}
  <!-- end body -->>


