

{% extends 'advisingplus/base.html' %}

{% block body %}

        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

<!-- Body here-->
<h6> Advisor: {{ status.advisor  }}</h6>
<h6> Available : {{ status.advisor_available  }}</h6>


<div class="col-sm-4 col-md-3">
<div class="panel panel-default">
 <div class="panel-body">


<!-- Delete -->
<form action="{% url 'advisingplus:status-delete' status.id %}" method="post" style="display: inline">
     {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{status.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
<!-- Update  -->
<form action="{% url 'advisingplus:status-update' status.id %}" method="post" style="display: inline">
     {% csrf_token %}
                                <input type="hidden" name="album_id"  value="{{status.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                            </form>
                </div>
                </div>
                </div>
{% endblock %}
