
{% extends 'advisingplus/base.html' %}

{% block body %}

        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

<!-- Body here-->
<h5> Students name: {{ session.student }}</h5>
<h5>Advisor: {{ session.timeslot.advisor}}  </h5>
<h5>Time and Date: {{ session.timeslot.date_time}}  </h5>


<div class="col-sm-4 col-md-3">
<div class="panel panel-default">
 <div class="panel-body">


<h6> notes </h6>
<ul>
  {% for temp in session.note_set.all %}
      <li> note - {{ temp.content }} </li>
  {% endfor %}
</ul>

<!-- add notes -->
<form action="{% url 'advisingplus:note-add'  %}" method="post" style="display: inline">
     {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{session.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </form>
</div></div></div>


<div class="col-sm-4 col-md-3">
<div class="panel panel-default">
 <div class="panel-body">


<h6> feedback </h6>
<ul>
  {% for temp in session.student_feedback_set.all %}
      <li> feedback - {{ temp.student_feedback }} </li>
  {% endfor %}
</ul>

<!-- add Document -->
<form action="{% url 'advisingplus:feedback-add'  %}" method="post" style="display: inline">
     {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{session.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </form>
</div></div></div>


</-- start documents -->

<div class="col-sm-4 col-md-4">
<div class="panel panel-default">
 <div class="panel-body">

<h6> Documents </h6>
{% for doc in session.getdocs %}
<h5> {{doc.doc }} </h5>
<a href="{% url 'advisingplus:document-detail' doc.pk  %}"  >view Document</a>
<br>
{% endfor %}
</-- document menu -->



</-- document end  menu -->
<!-- add Document -->
<form action="{% url 'advisingplus:document-add'  %}" method="post" style="display: inline">
     {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{session.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </form>

 </div></div></div>
</-- end documents -->
<br>

<div class="col-sm-4 col-md-4">
<div class="panel panel-default">
<div class="panel-body">
  <h5> Session menu</h5>
<!-- Delete Album -->
<form action="{% url 'advisingplus:session-delete' session.id %}" method="post" style="display: inline">
     {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{session.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
<!-- Update Album -->
<form action="{% url 'advisingplus:session-update' session.id %}" method="post" style="display: inline">
     {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{session.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                            </form>
                </div>
                </div>
                </div>
{% endblock %}

